/* index.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 1px 14px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.active {
  color: red;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .nav-link {
    font-size: 24px;
    max-width: 16px;
  }
}

/* CSS */
.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}

.Header {
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: center;
  background-color: rgb(187, 217, 248);
}

.Pipeline {
  text-align: center;
  background-color: rgb(221, 237, 252);
}

.Table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

.Deal {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.NewDealForm form {
  display: flex;
  justify-content: center;
}

.NewDealForm input {
  margin-right: 2rem;
  flex: 1;
}

.NewDealForm button {
  width: 150px;
}

.form {
  padding-bottom: 1%;
}

.tr {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.th {
  text-align: center;
  width: 120px;
  box-sizing: border-box;
}

.trs {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tds {
  text-align: center;
  width: 120px;
  box-sizing: border-box;
}

.RepPage {
  text-align: center;
  background-color: rgb(221, 237, 252);
  padding-top: 1%;
  padding-bottom: 1%;
}

.StagePage {
  text-align: center;
  background-color: rgb(221, 237, 252);
  padding-top: 1%;
  padding-bottom: 1%;
}

.form input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
}

.form .formButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

/* Updated styles for NewDealForm */


.NewDealForm input,
.NewDealForm button,
.NewDealForm .r-full {
  width: 100%;
  /* Make all form elements full width */
  margin-bottom: 5rem;
  /* Add margin between elements */
}

.NewDealForm .f-full {
  width: 100%;
  /* Make all form elements full width */
  margin-bottom: 9rem;
  /* Add margin between elements */
}


.NewDealForm button {
  width: auto;
  /* Allow the button to take its natural width */
}

.NewDealForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

.NewDealForm input,
.NewDealForm button,
.NewDealForm {
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px;
  box-sizing: border-box;
  z-index: 50;
}

.NewDealForm button {
  width: auto;
  /* Allow the button to take its natural width */
}



.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #9324ac;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
  vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 6em;
  --start: 0em;
  --end: 4em;
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.btn-23 .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23 .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}




.dropdown-open {
  margin-bottom: 120px;
  /* adjust as needed */
}